*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(20, 20, 19);
}

header{
    height: 11.7rem;
    width: 100vw;
    display: flex;
}

.img{
    background-color: brown;
    height: 11rem;
    width: 45%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img img{
    height: 9rem;
    border-radius: 100%;
}

.conteiner-title{
    width: 55%;
    height: 7rem;
    display: flex;
    justify-content: end;
    align-items: start;
    flex-wrap: wrap;
}

.none{
    background-color: rgb(212, 195, 173);
    width: 90%;
    height: 1.5rem; 
    border-bottom-left-radius: 20px;
    margin-bottom: 2rem;
}

.title{
    color: antiquewhite;
    margin-right: 1rem;
}

.title h1{
    font-size: 1.8rem;
    text-align: center;
}

.title h2{
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.title hr{
    background-color: rgb(212, 195, 173);
    height: 1px; 
    border: none;
    margin-bottom: 3rem;
}

.conteiner-title-2{
    width: 100%;
    height: 1.5rem;
    display: flex;
    justify-content: end;
    align-items: start;
    flex-wrap: wrap;
}

.title-2{
    background-color: brown;
    color: antiquewhite;
    width: 80%;
    height: 2rem;
    display: flex;
    justify-content: end;
    align-items: center; 
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 2rem;
}

.title-2 h2{
    margin-right: 0.5rem;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.information{
    background-color: rgb(212, 195, 173);
    height: 20rem;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Introduction{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}

.Introduction p {
    font-size: 0.9rem;
    color: rgb(49, 48, 47);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.education{
    width: 95%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin: 0.5rem;
}

.education p{
    font-size: 0.9rem;
    color: rgb(49, 48, 47);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.negrilla{
    font-size: 0.9rem;
    color: rgb(49, 48, 47);
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.education h3{
    font-size: 1.4rem;
    color: rgb(49, 48, 47);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.conteiner-title-3{
    width: 100%;
    height: 1.5rem;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.title-3{
    background-color: brown;
    color: antiquewhite;
    width: 45%;
    height: 2rem;
    display: flex;
    justify-content: start;
    align-items: center; 
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 2.6rem;
}

.title-3 h2{
    margin-left: 0.5rem;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Projects{
    margin-top: 3rem;
    height: 30rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Projects-1{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column-reverse;
}

.conteiner-project-1{
    width: 90%;
    height: 9rem;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: rgb(212, 195, 173);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.Projects-2{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.conteiner-project-2{
    width: 90%;
    height: 9rem;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgb(212, 195, 173);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.Projects-3{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;

}

.conteiner-project-3{
    width: 90%;
    height: 9rem;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: rgb(212, 195, 173);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.img-projects-1 img{
    height: 7rem;
    margin-right: 1rem;
}

.img-projects-2 img{
    height: 8rem;
    margin-left: 1rem;
}

.img-projects-3 img{
    height: 5rem;
    margin-right: 1rem;
}